*{
    margin: 0; padding: 0; box-sizing: border-box;
}
html {
    background-image: linear-gradient(45deg, #874da2 0%, #c43a30 100%);
            background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    font-family: sans-serif;
}
.main{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    position: absolute;
    background-color: white;
    border-radius: 20px;
    padding: 35px;
}
.main h1{
    
    text-align: center;
}
.input-box input{
    width: 100%;
    font-size: 16px;
    position: relative;
    letter-spacing: 1px;
    border: none;
    border-bottom: 1px solid rgb(61, 60, 60);
    outline: none;
    padding: 15px 0;
    
}
hr{
    margin: 30px 0;
}
.btn{
    background-image: linear-gradient(45deg, #c43a30  0%, #874da2 100%);
    color: white;
    border-radius: 25px;
    width: 100%;
    font-size: 16px;
    padding: 10px 0;
    border: none;
    cursor: pointer;
    
}
.member{
    padding: 20px 0;
    text-align: center;
    font-size: 16px;
}
a{
    color: #c43a30;
    text-decoration: none;
    
}
.checkbox{
    padding: 20px;

}
.terms{
    margin: 25px 5px;
    display: inline-flex;
}